body {
  margin: 0px;
  font-family: 'Cedarville Cursive', cursive;
}

div#background {
  height: 700px;
  width: 100%;
  background-image: linear-gradient(#5BC2D9, #A7E4F2);
  padding-top: 20px;
  padding-left:100px;
}

div#gallery {
  width: 800px;
  margin: auto;
}


#background img {
  height: 150px;
  margin: 0px;
}

#background figure {
  float: left;
  position: relative;
  background-color: white;
  text-align: center;
  font-size: 17px;
  font-family:'Coming Soon', cursive;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 2px 3px black;
}

figure.pic1 {
  -webkit-transform : rotate(-10deg);
  z-index: 1;
}

figure.pic2 {
  -webkit-transform : rotate(15deg);
  z-index: 2;
}

figure.pic3 {
  -webkit-transform : rotate(-25deg);
  z-index: 1;
}

figure.pic4 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}

figure.pic5 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}

figure.pic6 {
  -webkit-transform : rotate(-8deg);
  z-index:1;
}

figure.pic7 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}

figure.pic8 {
  -webkit-transform : rotate(-13deg);
  z-index:1;
}

figure.pic9 {
  -webkit-transform : rotate(-7deg);
  z-index:1;
}

figure.pic10 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}

figure.pic11 {
 -webkit-transform : rotate(-3deg);
  z-index:1;
}

#background figure:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1,1.1);
  z-index: 20;
}
