@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

body {
  padding:25px;
  background-color: white;
  min-height: 70vh;
  color: hsl(198, 1%, 29%);
  font-family: 'Gochi Hand', cursive;
  text-align: left;
  font-size: 130%;  
  padding-top:80px;
}
.special{font-size:10px;}
h2 {
  line-height: 1.5;
  display: inline;
  background-image: linear-gradient(
        transparent 50%,
        #FFF246 50%,
        #FFF246 85%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

h1 {font-family: 'Josefin Sans', sans-serif;
font-size:15px;}

.image {margin-top:0px;
  width:220px;
height:auto;}
.image2 {width:300px;
height:auto;}
.image3 {width:300px;
height:auto;}